{% extends 'authapp/base.html' %}
{% load staticfiles %}


{% block content_auth %}
    <div class="card text-center">
        <h5 class="card-header">Вход</h5>
        {% if request.method == 'POST' %}
            {% if login_form.is_valid %}
            {% else %}
                <br>
                <div class="alert alert-danger" role="alert">
                    Логин или пароль введены не верно
                </div>
            {% endif %}
        {% endif %}
        <div class="card-body">
            <form action="{% url 'auth:login' %}" method="post">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon2">Логин</span>
                    </div>
                    {{ login_form.username }}
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon2">Пароль</span>
                    </div>
                    {{ login_form.password }}
                </div>
                <br>

                <button type="submit" value="войти" class="btn btn-success form-control">Войти</button>
            </form>
        </div>
    </div>
{% endblock %}