body{
	background-color: #f8f8f8;
}


.my_nav li{
	padding-left: 2em;
}

h2{
	color: #000;
	font-size: 18px;
	font-weight: 400;
	background-color: #eaeaea;
	text-align: center;
}
.description_main, .ul_desc, .any_param, .any_param_s{
	color: #484343;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}
.any_param:first-letter{
	font-size: 25px;
	color: #d6254f;
	font-style: italic;
}
.description_main:first-letter{
	font-size: 25px;
	font-style: italic;
	color: #d6254f;
}
.parametr{
	color: #484343;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	text-align: left;
	border-collapse: collapse;
}
.parametr td{
	border: 1px solid #000;
}
.parametr td:nth-child(2n- 1):before{
	content: url(img/list.png)
}
.parametr td:nth-child(2n){
	text-align: right;
}


.goods_small_descr {
	display: inline-block;	
}
.goods_small_descr a{
	float: left;
}
.goods_small_descr p{
	padding-left: 480px;
}
.head_text, .buy_button{
	display: inline-block;
}
.buy_button{
	float: right;
}
.button_buy{
	background-color: #4CAF50;
}
.button_buy:hover{
	background-color: #d6254f;
}
