@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,700');

.logo{
	float: left;
	margin-top: 63px;
	margin-left: 98px;
}

.menu{
	float: left;
	margin-left: 382px;
	margin-top: 63px;
}
.menu ul{
	margin: 0 0;
}
.menu a{

	text-decoration: none;
	color:  #8c8c8c;
	font-size: 14px;
	font-weight: 300;
	padding: 0 10px;

}
.menu a.active{
	color: #212121;
	border-bottom: 3px solid #212121;
}

.menu a:hover{
	color: #212121;
	border-bottom: 3px solid #212121;
}
.menu li{
	list-style: none;
	float: left;
}

.footer{
	float: left;
	margin-top: 122px;
	background-color:  #f7f7f7;
	width: 1366px;
	height: 384px;
}
.contact_f{
	float: left;
	margin-top: 120px;
	margin-left: 60px;
}
.contact_f h3{
	color:  #6c6c6c;
	font-size: 18px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
}
.contact_f p{
	color:  #212121;
	font-size: 14px;/* Приближение из-за подстановки шрифтов */
	font-weight: 300;
}
.contact_f li{
	list-style: none;
}
.info_f{
	float: left;
	margin-top: 120px;
}
.info_f li{
	list-style: none;
	margin-top: 5px;

}
.info_f li {
	color:  #212121;
	font-size: 14px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	padding-top: 0px;
}
.info_f li h3{
	color:  #6c6c6c;
	font-size: 18px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
}
.career_f{
	float: left;
	margin-top: 160px;
}
.career_f ul{
	padding-left: 1px;
}
.career_f li{
	color:  #212121;
	font-size: 14px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	padding-top: 0px;
	list-style: none;
	margin-top: 5px;
}
.email_f{
	float: left;
	margin-top: 120px;
	margin-left: 50px;
}
.email_f li{
	list-style: none;
	margin-top: 5px;
}
.email_f li p{
	color:  #212121;
	font-size: 14px;/* Приближение из-за подстановки шрифтов */
	font-weight: 300;
	line-height: 22px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
}
.email_f ul li input{
	width: 100%;
  	padding: 12px 20px;
  	margin: 8px 0;
 	border: 1px solid #ccc;
  	box-sizing: border-box;
}

.copy_f{
	float: left;
	margin-left: 60px;
	margin-top: 20px;
}
.copy_f li{
	float: left;
	list-style: none;
	margin-right: 150px;
}
.copy_f li p{
	color:  #6c6c6c;
	font-size: 12px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 26px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
}