{% extends 'mainapp/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container-fluid">
	<div class="row">
        {% for list_img in list_img %}
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
			<a href="Raspberry_pi_3_B.html">
				<img src="{% static  list_img.href %}"><br>
                <a href="#" class="btn btn-outline-success btn-lg" role="button" aria-pressed="true">{{ list_img.name }}</a>
			</a>
		</div>
        {% endfor %}
		</div>
	</div>
{% endblock %}