<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="../img/pi_logo.png" type="image/png">
	<link rel="stylesheet" type="text/css" href="../style.css">
	<meta charset="utf-8">
	<title>Raspberry Pi 3 Model B+ - Smart-electronics</title>
</head>
<body>
	<div class="header">
		<div class="logo"><a href="../index.html"><img src="../img/pi_logo_2.png" height="100%" width="100%"></a></div>
		<div class="menu">
			<ul>
				<li><a href="../index.html">Главная страница</a></li>
				<li><a href="main_page_catalog.html">Каталог</a></li>
				<li><a href="../contacts.html">Контакты</a></li>
			</ul>
		</div>
		<hr>
	</div>
	<div class="content_text">
		<div class="head_line">
			<div class="head_text"><h1>Raspberry Pi 3 Model B+</h1>
			</div>
			<div class="buy_button"><input type="submit" class="button_buy" name="button_buy" value="Купить">
			</div>
		</div>
		<div class="goods_small_descr">
			<a href="../img/Raspberry-Pi-3_plus_big.jpg"><img src="../img/Raspberry-Pi-3_plus.jpg"></a>
			<p class="any_param">
				Микрокомпьютер Raspberry Pi 3 Model B+ представляет собой функциональную малогабаритную сборку, оптимальную для построения автоматизированных систем, сверхкомпактных настольных системных блоков и т.д. Изделие представляет собой материнскую плату, оборудованную процессором Broadcom 4x1400 МГц и 1 ГБ оперативной памяти. Микрокомпьютер, снабженный контроллерами Wi-Fi, Bluetooth 4.2 и сетевым адаптером для присоединения Ethernet-кабеля, не получил устройств флеш-памяти и ОС. Приобрести это оборудование и выбрать операционную систему вы сможете самостоятельно. Максимальная скорость сетевого подключения с помощью штатного адаптера - 300 МБит/с.
				Для взаимодействия с мониторами и другой компьютерной периферией Raspberry Pi 3 Model B+ получил видеовыход HDMI и слот для накопителя microSD, порты для подключения дисплея и камеры (DSI/CSI). На плате размещены и четыре интерфейса USB 2.0.
			</p>
		</div>
		<h3>Описание</h3>
		<p class="description_main">
			Мегагерц много не бывает — процессор Raspberry Pi 3 B+ разогнан до 1,4 ГГц. Ускорились сетевые интерфейсы,
			а ещё появилась поддержка Power over Ethernet.<br>

			Область применения Raspberry Pi ограничена лишь вашими знаниями и фантазией. Автоматизируйте дом или воспользуйтесь этим крошечным компьютером для создания:
		</p>
			<ul class="ul_desc">
				<li>робота с управлением по Wi-Fi или обладающего компьютерным зрением</li>
				<li>эмулятора игровой консоли</li>
				<li>домашней метеостанции</li>
				<li>охранной системы с распознаванием лиц</li>
				<li>Компьютер размером с банковскую карту имеет на борту привычные ПК составляющие: процессор, оперативную память, разъём HDMI, композитный выход, USB, Ethernet, Wi-Fi и Bluetooth.</li>
			</ul>
		<p class="description_main">
			<br>
			Главное преимущество Raspberry Pi — 40 контактов ввода/вывода общего назначения (GPIO). К ним вы сможете подключать периферию для взаимодействия с внешним миром: исполнительные устройства, любые сенсоры и всё, что работает от электричества.<br>
			Штатной операционной системой для Raspberry Pi является Linux. Она устанавливается на microSD карту, а та — в специальный слот на плате. Если вы не знаете Linux, не пугайтесь. Этот компьютер — прекрасная возможность во всём разобраться. Потерять данные или сильно напортачить с настройками не так страшно, образ на SD-карте можно восстановить за считанные минуты. После этого — смело продолжайте эксперименты!<br>
		</p>

		<h3>Технические подробности</h3>
		<p class="any_param">
			Для подключения монитора или телевизора используйте композитный видеовыход или разъём HDMI. Разрешение варьируется от 640×350 (EGA) до 1920×1200 (WUXGA) для HDMI. Композитный выход работает в форматах PAL и NTSC.<br>
			Колонки или наушники подключаются через стандартное гнездо 3,5 мм. Также звук может передаваться по HDMI.<br>
			Raspberry Pi 3 Model B+ предоставляет 4 USB-порта, объединённых внутренним хабом. К ним, помимо прочего, можно подключить клавиатуру и мышь.<br>
			Для экономии ресурсов центрального процессора, Raspberry Pi предлагает подключения штатных модулей через 15-пиновые слоты:
		</p>
			<ul class="ul_desc">
				<li>CSI-2 — для подключения камеры по интерфейсу MIPI</li>
				<li>DSI — для подключения штатного дисплея</li>
			</ul>
		<p class="any_param_s"><br>
			В качестве низкоуровневых интерфейсов доступны:
		</p>
			<ul class="ul_desc">
				<li>40 портов ввода-вывода общего назначения</li>
				<li>UART (Serial)</li>
				<li>I²C/TWI</li>
				<li>SPI с селектором между двумя устройствами</li>
				<li>пины питания: 3,3 В, 5 В и земля</li>
			</ul>
		<p class="any_param_s">
			Для коммуникации на Raspberry Pi 3 Model B доступны интерфейсы:
		</p>
			<ul class="ul_desc">		
				<li>Ethernet на 10/100/1000 Мбит с выходом на стандартное гнездо 8P8C (RJ45); Wi-Fi 802.11n и Bluetooth 4.2.</li>
			</ul>
		<h3>Версия платы</h3>
		<p class="any_param">
			Raspberry Pi 3 Model B+ это модернизированная версией Raspberry Pi 3 Model B.<br>
			64-х битным четырёхядерным процессором ARM Cortex-A53 разогнан с 1,2 ГГц до 1,4 ГГц. На борту модернизированные беспроводные интерфейсы Wi-Fi 802.11n и Bluetooth 4.2/LE.<br>
			Кроме того, процессор имеет архитектуру ARMv53, а значит вы сможете использовать любимую операционную систему: Debian Wheezy, Ubuntu Mate, Fedora Remix и даже MS Windows 10 IoT.<br>
			Raspberry Pi 3 Model B+ наделили 1 ГБ оперативной памяти, но эта память делится с графической подсистемой. Графический двухъядерный процессор VideoCore IV® поддерживает стандарты OpenGL ES 2.0, OpenVG, MPEG-2, VC-1 и способен кодировать, декодировать и выводить Full HD-видео (1080p, 30 FPS, H.264 High-Profile).
		</p>
		<h3>Программное обеспечение</h3>
		<p class="any_param">
			Вместо традиционного для обычных компьютеров жёсткого диска, Raspberry Pi использует microSD флеш-карту. Она должна быть предварительно подготовлена — на неё следует <a href="http://www.raspberrypi.org/downloads/">установить операционную систему</a>. Имея несколько флеш-карт, вы можете поочерёдно использовать их, получив несколько изолированных образов компьютеров.<br>
			<b>Флеш-карта в комплект не входит.</b><br>
			Поддерживаются карты размером от 4 ГБ. Рекомендуемый объём — не менее 8 ГБ.
		</p>
		<h3>Характеристики</h3>
			<table class="parametr">
				<tr>
					<td><b>Процессор:</b></td>
					<td>64-битный 4-ядерный ARM Cortex-A53 с тактовой частотой 1,2 ГГц на однокристальном чипе Broadcom BCM2837</td>
				</tr>
				<tr>
					<td><b>Оперативная память:</b></td> 
					<td>1ГБ LPDDR2 SDRAM</td>
				</tr>
				<tr>
					<td><b>Цифровой видеовыход:</b></td>
					<td>HDMI</td>
				</tr>
				<tr>
					<td><b>Композитный выход:</b></td>
					<td>3,5 мм (4 pin)</td>
				</tr>
				<tr>
					<td><b>USB порты:</b></td>
					<td>USB 2.0×4</td>
				</tr>
				<tr>
					<td><b>Сеть:</b></td>
					<td>WiFi 802.11n, 10/100/1000 Мб RJ45 Ethernet</td>
				</tr>
				<tr>
					<td><b>Bluetooth:</b></td>
					<td>Bluetooth 4.2, Bluetooth Low Energy</td>
				</tr>
				<tr>
					<td><b>Разъем дисплея:</b></td>
					<td>Display Serial Interface (DSI)</td>
				</tr>
				<tr>
					<td><b>Разъем видеокамеры:</b></td> 
					<td>MIPI Camera Serial Interface (CSI-2)</td>
				</tr>
				<tr>
					<td><b>Карта памяти:</b></td>
					<td>MicroSD</td>
				</tr>
				<tr>
					<td><b>Порты ввода-вывода:</b></td> 
					<td>40</td>
				</tr>
				<tr>
					<td><b>Габариты:</b></td> 
					<td>85x56x17 мм</td>
				</tr>
			</table>
	</div>
	<div class="footer">
		<hr>
		<p>
			2019&copy; Все Права защищены.
		</p>
	</div>
</body>
</html>