<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="../img/pi_logo.png" type="image/png">
	<link rel="stylesheet" type="text/css" href="../style.css">
	<meta charset="utf-8">
	<title>Raspberry Pi Zero - Smart-electronics</title>
</head>
<body>
	<div class="header">
		<div class="logo"><a href="../index.html"><img src="../img/pi_logo_2.png" height="100%" width="100%"></a></div>
		<div class="menu">
			<ul>
				<li><a href="../index.html">Главная страница</a></li>
				<li><a href="main_page_catalog.html">Каталог</a></li>
				<li><a href="../contacts.html">Контакты</a></li>
			</ul>
		</div>
		<hr>
	</div>
	<div class="content_text">
		<div class="head_line">
			<div class="head_text"><h1>Raspberry Pi 3 Zero</h1>
			</div>
			<div class="buy_button"><input type="submit" class="button_buy" name="button_buy" value="Купить">
			</div>
		</div>
		<div class="goods_small_descr">
			<a href="../img/Pi-Zero-W-Tilt_big.jpg"><img src="../img/Pi-Zero-W-Tilt.jpg"></a>
			<p class="any_param">
				В основе Raspberry Pi Zero — однокристальная платформа с одним ядром. Тактовая частота каждого -1 ГГц. Платформа, кроме собственно процессора, включает в себя графическое ядро с поддержкой OpenGL ES 2.0 и 512 МБ оперативной памяти, размещённой прямо на процессоре. По замыслу разработчиков, новая модель должна идеально подойти для самых разнообразных проектов — от бытовых устройств с подключением к интернету до роботов.
			</p>
		</div>
		<h3>Описание</h3>
		<p class="description_main">
			Raspberry Pi Zero — миниатюрный одноплатный компьютер, работающий на Linux. ARM процессор, 512 МБ оперативной памяти, разъем HDMI и слот для SD-карты поместились на плате, размером с половину Arduino Uno.<br>
			Одноплатник построен на базе процессора Broadcom BCM2835, который использовался в первом поколении микрокомпьютеров Raspberry Pi A и B.<br>
			Компьютер размером с флешку имеет на борту привычные ПК составляющие: процессор, оперативную память, разъём HDMI, композитный выход, и USB. Гигагерцового процессора хватает для работы с графическими операционными системами, воспроизведения фильмов или клипов и обработки потокового видео с помощью библиотеки OpenCV.<br>
			На Pi Zero выведены 40 контактов GPIO. Для подключения к ним придётся воспользоваться паяльником — в отличие от старших моделей, на плате нет гребёнки пинов. Для подключения шилдов от Raspberry Pi необходимо распаять две параллельные линейки штырьковых соединителей.<br>
		</p>

		<h3>Подключение периферии</h3>
		<p class="any_param">
			Для подключения монитора или телевизора предусмотрен разъём mini-HDMI. Разрешение варьируется от 640×350 (EGA) до 1920×1200 (WUXGA).<br>
			Если вы хотите подключить плату к старому телевизору или видеомагнитофону, припаяйте композитный разъём — Raspberry Pi Zero выдаст сигнал в форматах PAL и NTSC.<br>
			В нижней части платы сделаны два разъёма microUSB, но периферийные устройства можно подключать только к одному из них. Второй предназначен для подключения питания.<br>
		</p>

		<h3>Программное обеспечение</h3>
		<p class="any_param">
			Вместо традиционного для обычных компьютеров жёсткого диска, Raspberry Pi использует microSD флеш-карту. Она должна быть предварительно подготовлена — на неё следует установить операционную систему. Имея несколько флеш-карт, вы можете поочерёдно использовать их, получив несколько изолированных образов компьютеров.<br>
			Подключите одноплатник к монитору или телевизору по HDMI и подайте питание на порт microUSB. Через несколько секунд плата загрузится в графическом режиме, очень похожем на привычный Windows.<br>
			Потерять данные или сильно напортачить с настройками не страшно, образ на SD-карте можно восстановить за считанные минуты. После этого — смело продолжайте эксперименты!<br>
			<b>Флеш-карта в комплект не входит.</b><br>
			Поддерживаются карты размером от 4 ГБ. Рекомендуемый объём — не менее 8 ГБ.<br>
		</p>

		<h3>Характеристики</h3>
				<table class="parametr">
				<tr>
					<td><b>Процессор:</b></td>
					<td>Тактовая частота 1Ггц Broadcom BCM2835 с ядром ARM1176JZ-F</td>
				</tr>
				<tr>
					<td><b>Оперативная память:</b></td> 
					<td>512Мб</td>
				</tr>
				<tr>
					<td><b>Цифровой видеовыход:</b></td>
					<td>HDMI</td>
				</tr>
				<tr>
					<td><b>Композитный аудио выход:</b></td>
					<td>2pin (TV)</td>
				</tr>
				<tr>
					<td><b>USB порты:</b></td>
					<td>1 USB c OTG</td>
				</tr>
				<tr>
					<td><b>Разъем дисплея:</b></td>
					<td>Display Serial Interface (DSI)</td>
				</tr>
				<tr>
					<td><b>Разъем видеокамеры:</b></td> 
					<td> 22 pin 0.5mm Camera Serial Interface (CSI)</td>
				</tr>
				<tr>
					<td><b>Карта памяти:</b></td>
					<td>MicroSD</td>
				</tr>
				<tr>
					<td><b>Порты ввода-вывода:</b></td> 
					<td>40</td>
				</tr>
				<tr>
					<td><b>Габариты:</b></td> 
					<td>66×32×5 мм</td>
				</tr>
			</table>
	</div>
	<div class="footer">
		<hr>
		<p>
			2019&copy; Все Права защищены.
		</p>
	</div>
</body>
</html>